// FONT
$base-font-size: 14 !default;
$base-font-family: 'Source Sans Pro', sans-serif;

// Z-INDEX
$main-header-zindex: 2000;
$main-nav-zindex: 2000;

// DIMENSIONS
$base-width: 1280;
$base-padding-top: 47px;
$base-padding-left: 115px;
$base-padding-left-small: 66px;

// COLORS
$catskill-white:       #f3f5f9;
$athens-gray:          #e4e6ea; // main background color
$iron:                 #d9dbdf;
$alto:                 #d7d7d7;
$bombay:               #b0b1b4;
$oslo-gray:            #8F9092;
$shuttle-gray:         #606266; // general font color
$emperor:              #505050;
$outer-space:          #282F37; // titles font color
$robins-egg-blue:      #0bbcc0;
$turquoise:            #28dbdd;
$riptide:              #87e4e6;
$niagara:              #069d9f;
$teal:                 #008a8d;
$persian-green:        #009a9f;
$white:                #ffffff;
$las-palmas:           #bcf119;
$sweet-corn:           #feec8a;
$red-orange:           #ff381e;
$cerulean:             #00b9de;
$rose:                 #f90088;
